// ======================================================
// Component :: Discover - Carousel
// ======================================================

.slider {
  list-style: none;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;

  &-wrap {
    position: relative;
  }

  .item {
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    text-align: center;
    padding: 0;
    transition: all 0.2s ease-in;
    opacity: 0;
    visibility: hidden;

    &.active {
      display: block;
      position: relative;
      top: unset;
      left: unset;
      right: unset;
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }
}
.dot {
  &-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    .dot {
      width: 15px;
      height: 15px;
      margin: 0 10px;
      background-color: rgba(0, 0, 0, 0);
      display: inline-block;
      border-radius: 50%;
      cursor: pointer;

      &.active {
        border: 1px solid rgba(255, 255, 255, 1);
      }

      &:nth-child(1) {
        background: conic-gradient(from 90deg at 50% 50%, #1e2d36 0deg, #bbe08e 360deg);
      }

      &:nth-child(2) {
        background: conic-gradient(from 90deg at 50% 50%, #5b5b5c 0deg, #cacaca 360deg);
      }

      &:nth-child(3) {
        background: conic-gradient(from 90deg at 50% 50%, #fff 0deg, #000 360deg);
      }

      &:nth-child(4) {
        background: conic-gradient(from 90deg at 50% 50%, #e79ebb 0deg, #b3c4b3 360deg);
      }

      &:nth-child(5) {
        background: conic-gradient(from 90deg at 50% 50%, #000 0deg, #fff 360deg);
      }

      &:nth-child(6) {
        background: conic-gradient(from 90deg at 50% 50%, #79b2ce 0deg, #ee797e 360deg);
      }

      &:nth-child(7) {
        background: conic-gradient(from 90deg at 50% 50%, #79a5c0 0deg, #8a8ea3 360deg);
      }

      &:nth-child(8) {
        background: radial-gradient(100% 100% at 50% 0%, #f4ea14 0%, #7f4f9f 100%);
      }
    }
  }
}
