.carousel-inner {
  > .item {
    > img,
    .img-responsive {
      @extend %margin-center;
    }
  }

  > .item {
    > img {
      max-height: 84px;
      aspect-ratio: 52 / 21;
      object-fit: contain;
    }
  }
}

.container {
  @extend %relative;
  width: 100%;
}

.slide {
  position: absolute;
  padding: 16px;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  transition: 1s ease-in-out;
  overflow: hidden;
  min-height: 184px;
}

.carousel-indicators {
  display: flex;
  margin: 5px auto;
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
  gap: 20px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  z-index: 0;

  .dots {
    @extend %cursor-pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0;

    &.active {
      border: 1px solid $border-form;
    }

    &:nth-child(1) {
      background: conic-gradient(from 90deg at 50% 50%, #1E2D36 0deg, #BBE08E 360deg);
    }

    &:nth-child(2) {
      background: conic-gradient(from 90deg at 50% 50%, #5B5B5C 0deg, #CACACA 360deg);
    }

    &:nth-child(3) {
      background: conic-gradient(from 90deg at 50% 50%, #FFFFFF 0deg, #000000 360deg);
    }

    &:nth-child(4) {
      background: conic-gradient(from 90deg at 50% 50%, #E79EBB 0deg, #B3C4B3 360deg);
    }

    &:nth-child(5) {
      background: conic-gradient(from 90deg at 50% 50%, #000000 0deg, #FFFFFF 360deg);
    }

    &:nth-child(6) {
      background: conic-gradient(from 90deg at 50% 50%, #79B2CE 0deg, #EE797E 360deg);
    }

    &:nth-child(7) {
      background: conic-gradient(from 90deg at 50% 50%, #79A5C0 0deg, #8A8EA3 360deg);
    }

    &:nth-child(8) {
      background: radial-gradient(100% 100% at 50% 0%, #F4EA14 0%, #7F4F9F 100%);
    }
  }
}
