// ======================================================
// Component :: Your Daily Source For Sport
// ======================================================

.daily-source {
  &__title {
    @extend %text-uppercase;
    font-family: $default-family;
    font-size: $text-daily-source-title;
    line-height: 34px;
    grid-column: 1 / 6;
    margin: 25px 0 15px;
  }

  &__product {
    @extend %flex;
    grid-gap: 20px;

    &-item {
      @extend %flex;
      @extend %flex-column;
      background-color: $bg-color-secondary;
      border-radius: 10px 10px 0 0;
      box-shadow: 0px 2px 12px rgba(23, 29, 41, 0.12);
    }
  }

  &__img {
    @extend %margin-center;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 659px;
  }
}
