// ======================================================
// Component :: Featured Footwear
// ======================================================

.footwear {
  &__title {
    @extend %text-uppercase;
    font-family: $default-family;
    font-size: $text-footwear-title;
    line-height: 34px;
    margin: 25px 0 15px;

    &.hide {
      @extend %none;
    }
  }

  &__product {
    @extend %flex;
    grid-gap: 20px;

    &-item {
      @extend %flex;
      @extend %flex-column;
      background-color: $footwear-bg-color;
      border-radius: 10px;
      box-shadow: 0px 2px 12px rgba(23, 29, 41, 0.12);
    }

    &-link {
      @extend %text-center;
      @extend %cursor-pointer;
      width: 100%;
      height: 100%;
    }

    &.hide {
      @extend %none;
    }
  }

  &__img {
    @extend %margin-center;
    aspect-ratio: 4 / 5;
    object-fit: contain;
    width: 100%;
    height: auto;
    max-width: 315px;
  }

  &__para {
    @extend %text-center;
    @extend %text-uppercase;
    color: $color-footwear;
    font-size: $text-footwear;
    font-family: $default-family;
    background-color: $footwear-para-bg-color;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
  }

  &__detail {
    @extend %flex;
    font-family: $font-secondary;
    margin: 30px 0;

    &.hide {
      @extend %margin-0;
    }

    &-img {
      aspect-ratio: 4/5;
      object-fit: contain;
      background-color: $footwear-bg-color;
      margin-bottom: 30px;
      width: 100%;
      max-width: 400px;
    }

    &-content {
      margin-left: 40px;
    }

    &-title {
      font-size: $text-large;
      line-height: 1.2;
    }

    &-price {
      font-size: $text-medium;
    }

    &-desc {
      font-size: $text-content-normal;
      line-height: 1.5;
    }

    &-title,
    &-price,
    &-desc {
      margin-bottom: 20px;
    }

    &-back {
      @extend %block;
      @extend %text-decoration-none;
      color: $color-footwear-back;

      &.hide {
        @extend %none;
      }
    }
  }
}
