// ======================================================
// Components :: Products
// ======================================================

.products {
  &__head {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
    background-color: $bg-color-secondary;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
    box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
  }

  &__list {
    background-color: $bg-color-secondary;
    border-radius: 8px;
    font-size: $text-content-normal;
    margin: 30px 0;
    -webkit-box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
    box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);

    .name {
      max-width: 250px;
    }

    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 300px;
    }

    .message {
      @extend %flex;
      @extend %justify-center;
      @extend %item-center;
      height: 30px;
      padding: 10px 0;
      font-size: $text-none-content;
      font-weight: $font-weight-medium;
      color: rgb(126, 142, 177);
    }
  }

  &__detail {
    @extend %flex;
    @extend %flex-column;
    padding: 0 40px;

    &.hide {
      display: none;
    }
  }

  &__info {
    @extend %list-style-type-none;
    @extend %item-center;
    padding: 20px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 60px 250px 60px 300px auto auto 250px;
    grid-gap: 15px;
    border-bottom: 1px solid $border-main;

    &:last-child {
      @extend %border-0;
    }

    &--detail {
      margin-left: 30px;
    }
  }

  &__title {
    font-size: $text-large;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  &__price {
    font-size: $text-medium;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: $text-content-normal;
    margin-bottom: 20px;
  }

  &__img {
    &--thumb {
      vertical-align: middle;
      aspect-ratio: 4 / 5;
      object-fit: contain;
      max-width: 60px;
      border: 1px solid $border-main;
    }

    &--detail {
      aspect-ratio: 4 / 5;
      object-fit: contain;
      max-width: 300px;
    }
  }
}

.product {
  &__footwear {
    @extend %flex;
    grid-gap: 20px;

    &-title {
      @extend %text-uppercase;
      font-family: $default-family;
      font-size: $text-footwear-title;
      line-height: 34px;
      margin: 23px 0 15px;

      &.hide {
        @extend %none;
      }
    }

    &-item {
      @extend %flex;
      @extend %flex-column;
      background-color: $footwear-bg-color;
      border-radius: 10px;
      box-shadow: 0px 2px 12px rgba(23, 29, 41, 0.12);
    }

    &-link {
      @extend %text-center;
      @extend %cursor-pointer;
      width: 100%;
      height: 100%;
    }

    &-img {
      @extend %margin-center;
      aspect-ratio: 4 / 5;
      object-fit: contain;
      width: 100%;
      height: auto;
      max-width: 315px;
    }

    &-para {
      @extend %text-center;
      @extend %text-uppercase;
      color: $color-footwear;
      font-size: $text-footwear;
      font-family: $default-family;
      background-color: $footwear-para-bg-color;
      border-radius: 0px 0px 10px 10px;
      padding: 15px;
    }

    &.hide {
      @extend %none;
    }
  }

  &__detail {
    @extend %flex;
    font-family: $font-secondary;
    margin: 30px 0;

    &.hide {
      @extend %margin-0;
    }

    &-img {
      aspect-ratio: 4/5;
      object-fit: contain;
      background-color: $footwear-bg-color;
      margin-bottom: 30px;
      width: 100%;
      max-width: 400px;
    }

    &-content {
      margin-left: 40px;
    }

    &-title {
      font-size: $text-large;
      line-height: 1.2;
    }

    &-price {
      font-size: $text-medium;
    }

    &-desc {
      font-size: $text-content-normal;
      line-height: 1.5;
    }

    &-title,
    &-price,
    &-desc {
      margin-bottom: 20px;
    }

    &-back {
      @extend %block;
      @extend %text-decoration-none;
      color: $color-footwear-back;

      &.hide {
        @extend %none;
      }
    }
  }
}

.search-input {
  background: url("../assets/icons/search.svg") 5px no-repeat;
  border: 1px solid $border-main;
  border-radius: 8px;
  padding: 8px 40px;
  width: auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  // List Products
  .products {
    &__head {
      padding: 10px;
    }

    &__list {
      .message {
        font-size: $text-small;
        height: 20px;
      }
    }

    &__info {
      display: flex;

      .name {
        width: 200px;
      }

      .desc {
        width: 220px;
      }
    }

    &-action {
      display: inline-flex;
    }
  }

  .product {
    &__footwear {
      flex-wrap: wrap;
      justify-content: space-between;

      &-item {
        flex-basis: calc(50% - 10px);
      }
    }

    &__detail {
      &-img {
        max-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  // Discover
  .discover {
    &__banner {
      &-carousel,
      &-sneakers {
        grid-column: 1 / 3;
        font-size: $text-banner-para;
        line-height: 24px;
      }
    }

    &__banner {
      &-sneakers {
        background-size: cover;
      }
    }
  }

  // Carousel
  .slide {
    position: relative;
  }

  .dot {
    &-navigation {
      .dot {
        width: 10px;
        height: 10px;
        margin: 0 8px;
      }
    }
  }

  // Daily Source
  .daily-source {
    &__product {
      flex-direction: column;
    }

    &__img {
      width: 240px;
      height: auto;
    }
  }

  // List Products
  .products {
    &__head {
      padding: 10px;
    }

    &__list {
      .message {
        font-size: $text-small;
        height: 20px;
      }
    }

    &__img {
      &--detail {
        width: calc(100% - 40px);
        margin: 0 auto 40px;
      }
    }

    &__detail {
      padding: 0 20px;
    }

    &__info {
      display: flex;

      .name {
        width: 150px;
      }

      .desc {
        width: 200px;
      }

      .created,
      .updated {
        display: none;
      }
    }
  }

  .product {
    &__footwear {
      flex-direction: column;

      &-img {
        width: 160px;
        height: auto;
      }
    }

    &__detail {
      display: block;

      &-content {
        margin-left: 0;
      }
    }
  }

  // Button
  .btn {
    &-secondary {
      margin-right: 10px;
    }

    &-add-product {
      padding: 5px 8px 5px 24px;
      background-size: $bg-size-secondary;
      font-size: $text-small;
    }

    &-view-product,
    &-edit-product,
    &-delete-product {
      display: block;
      margin-bottom: 5px;
      margin-right: 5px;
      min-width: 80px;
    }
  }

  // Modal
  .modal,
  .confirm-modal {
    position: absolute;
    top: 0;
    transform: translate(-50%, 40px);

    &-container {
      max-width: 100%;
      min-width: 360px;
      margin-bottom: 40px;
    }
  }

  .product {
    &-form {
      min-width: 320px;
      margin: 0 auto;

      &.detail {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  // List Products
  .products {
    &-action {
      display: inline-flex;
    }
  }

  // Modal
  .modal {
    top: 0;
    transform: translate(-50%, 0);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  // Discover
  .discover {
    &__title {
      font-size: $text-banner-title-small;
      line-height: 35px;
    }

    &__banner {
      &-1,
      &-2 {
        font-size: $text-banner-small;
        line-height: 28px;
      }

      &--para {
        font-size: $text-banner-para-small;
        line-height: 20px;
      }

      &-2 {
        .container-ad-text {
          padding: 20px 15px 15px;
        }

        .container-ad-links {
          padding: 20px 15px 15px 0;
        }
      }

      &--link {
        padding: 10px 25px;
      }
    }
  }

  // Daily Source
  .daily-source {
    &__title {
      font-size: $text-daily-source-title-small;
      line-height: 28px;
    }
  }

  // List Products
  .products {
    &__img {
      &--detail {
        margin: 0 auto 20px;
      }
    }

    &__title {
      font-size: $text-medium;
    }

    &__price,
    &__desc {
      font-size: $text-small;
    }

    &__detail {
      padding: 0 20px;
    }
  }

  .product {
    &__footwear {
      &-title {
        font-size: $text-footwear-title-small;
        line-height: 28px;
      }

      &-para {
        font-size: $text-small;
        line-height: 16px;
      }
    }
  }

  .search-input {
    padding: 5px 30px;
    border-radius: 5px;
    background-size: 18px;
    font-size: $text-small;
  }
}
