// ======================================================
// Components :: Products
// ======================================================

.products {
  &__head {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;
    background-color: $bg-color-secondary;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
    box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
  }

  &__contents {
    background-color: $bg-color-secondary;
    border: 1px solid $border-main;
    border-radius: 8px;
    font-size: $text-content-normal;
    margin: 30px 0;
    -webkit-box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
    box-shadow: 0px 20px 20px rgb(126 142 177 / 12%);
  }

  &__list {
    padding: 10px 0;

    .name {
      max-width: 250px;
    }

    .desc {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 300px;
    }

    .message {
      @extend %flex;
      @extend %justify-center;
      @extend %item-center;
      height: 30px;
      font-size: $text-none-content;
      font-weight: $font-weight-medium;
      color: rgb(126, 142, 177);
    }
  }

  &__detail {
    @extend %flex;
    @extend %flex-column;
    padding: 0 40px;

    &.hide {
      display: none;
    }
  }

  &__info {
    @extend %list-style-type-none;
    @extend %item-center;
    padding: 10px 20px;
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 60px 250px 60px 300px auto auto 250px;
    grid-gap: 15px;
    border-bottom: 1px solid $border-main;

    &:last-child {
      @extend %border-0;
    }

    &--detail {
      margin-left: 30px;
    }
  }

  &__title {
    font-size: $text-large;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  &__price {
    font-size: $text-medium;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: $text-content-normal;
    margin-bottom: 20px;
  }

  &__img {
    &--thumb {
      vertical-align: middle;
      aspect-ratio: 4 / 5;
      object-fit: contain;
      max-width: 60px;
      border: 1px solid $border-main;
    }

    &--detail {
      aspect-ratio: 4 / 5;
      object-fit: contain;
      max-width: 300px;
    }
  }
}

.search-input {
  background: url("../assets/icons/search.svg") 5px no-repeat;
  border: 1px solid $border-main;
  border-radius: 8px;
  padding: 8px 40px;
  width: auto;
}
