// ======================================================
// Layout :: Header
// ======================================================

.header {
  &__page {
    @extend %relative;
    @extend %margin-center;
    container: header-content / inline-size;
    padding: 25px 50px;
    background-color: $bg-color-primary;
    max-width: 1340px;
  }

  &__wrapper {
    @extend %flex;
    @extend %justify-space-between;
    @extend %item-center;

    &-slogan,
    &-profile {
      @extend %text-uppercase;
      color: $color-secondary;
    }

    &-slogan {
      font-size: $text-slogan;
      line-height: 38px;
    }

    &-profile {
      @extend %flex;
      @extend %item-center;
      font-size: $text-profile;
      line-height: 22px;
    }

    &-name {
      max-width: 100px;
      text-align: right;
      margin-right: 20px;
    }

    &-avatar {
      width: 60px;
      aspect-ratio: 1 / 1;
    }
  }
}

@container header-content (max-width: 767px) {
  .header {
    &__logo {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    &__page {
      padding: 10px 20px;
    }

    &__wrapper {
      &-avatar {
        width: 30px;
        aspect-ratio: 1 / 1;
      }

      &-slogan {
        font-size: $text-medium;
      }

      &-name {
        font-size: $text-small;
        line-height: 1.2;
      }
    }
  }
}
