@import 'abstracts/variables';

@media screen and (min-width: 768px) and (max-width: 1024px) {
  // Featured Footwear
  .footwear {
    &__product {
      grid-template: 1fr 1fr / 1fr 1fr 1fr;

      &-4 {
        grid-column: 1 / 2;
      }

      &-5 {
        grid-column: 2 / 3;
      }
    }
  }

  // List Products
  .products {
    &__head {
      padding: 10px;
    }

    &__list {
      .message {
        font-size: $text-small;
        height: 20px;
      }
    }

    &__info {
      display: flex;

      .name {
        width: 200px;
      }

      .desc {
        width: 220px;
      }
    }

    &-action {
      display: inline-flex;
    }
  }
}
