// ======================================================
// Abstracts :: Variables
// ======================================================

/* Colors */
$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #d9d9d9;
$color-default: $color-primary;
$color-header: $color-secondary;
$color-placeholder: #e6e6e6;
$color-info: #5bc0de;
$color-danger: #d9534f;
$color-success: #449d44;
$color-disabled: #aaa;

/* Background Colors */
$bg-color-primary: #111;
$bg-color-secondary: $color-secondary;
$bg-color-tertiary: #f1f2f3;
$bg-color-info: $color-info;
$bg-color-danger: $color-danger;
$bg-color-success: $color-success;
$bg-color-disabled: $color-tertiary;
$bg-color-menu: #1f75cb;
$bg-color-discover: #f6f6f6;
$bg-color-footwear: #E0E0E0;
$bg-color-btn-cancel: #efefef;

/* Background Size */
$bg-size-primary: 16px;
$bg-size-secondary: 10px;

/* Border Colors */
$border-main: $color-placeholder;
$border-modal: #dfe0eb;
$border-form: #ccc;

/* Font-Family */
$font-primary: "Acme", sans-serif;
$font-secondary: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$default-family: $font-primary;
$secondary-family: $font-secondary;

/* Menu */
$menu-color: $color-secondary;
$menu-bg-color: $color-placeholder;
$menu-board-bg-color: $bg-color-menu;
$menu-text: 24px;
$menu-button-width: 30px;
$menu-button-height: 4px;
$menu-border: $color-tertiary;

/* Font-Size */
$text-small: 12px;
$text-medium: 16px;
$text-large: 30px;

/* Font-Weight */
$font-weight-small: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;

/* Body */
$text-color-body: $color-default;
$text-size-body: $text-medium;
$font-weight-body: $font-weight-normal;
$font-family-body: $default-family;

/* Header */
$text-slogan: $text-large;
$text-slogan-medium: 24px;
$text-profile: 18px;
$line-height-profile: 22px;

/* Products */
$text-content-normal: 14px;
$text-none-content: 18px;

/* Discover */
$text-banner-title: 35px;
$text-banner-title-small: 25px;
$color-banner: $color-secondary;
$text-banner: 27px;
$text-banner-small: 20px;
$text-banner-para: 17px;
$text-banner-para-small: 14px;
$color-button: $color-primary;
$text-button: $text-medium;
$button-bg-color: $bg-color-discover;

/* Featured Footwear */
$text-footwear-title: 27px;
$text-footwear-title-small: 20px;
$color-footwear: $color-secondary;
$color-footwear-back: $bg-color-menu;
$text-footwear: $text-medium;
$footwear-bg-color: $bg-color-footwear;
$footwear-para-bg-color: $bg-color-primary;

/* Daily Source */
$text-daily-source-title: 27px;
$text-daily-source-title-small: 20px;

/* Buttons */
$text-button-small: 10px;
$text-button-normal: 14px;
$text-button-action: 13px;
$bg-color-btn-primary: $bg-color-menu;
$bg-color-btn-secondary: $bg-color-btn-cancel;

/* Modal */
$text-modal-message: $text-medium;
$text-modal-title: 18px;
$text-modal-label: 14px;
$text-modal-validate: 12px;
$text-modal-close: $text-large;
$border-modal-container: $border-modal;
$border-form-input: $border-form;

/* Width */
$page-max-width: 1440px;
